version: '3'
services:
  redis:
    image: redis
    command: redis-server --appendonly yes

  sidekiq_status:
    build:
      context: .
      # `gem install` doesn't like the filename
      # Dockerfile without a file ext...WAT!?
      dockerfile: Dockerfile.test
    volumes:
      - ./:/app
      - gem_cache:/usr/local/bundle
    environment:
      - "REDIS_URL=redis://redis:6379/0"
    links:
      - redis:redis

volumes:
  gem_cache: