version: '3'
services:
  redis:
    image: redis
    command: redis-server --appendonly yes

  sidekiq-err:
    image: sidekiq-err:local
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ./:/app
      - gem_cache:/usr/local/bundle
    environment:
      - "REDIS_URL=redis://redis:6379/0"
      - "USE_PRY=1"
    links:
      - redis:redis

  sidekiq_server:
    image: sidekiq-err:local
    volumes:
      - ./:/app
      - gem_cache:/usr/local/bundle
    environment:
      - "REDIS_URL=redis://redis:6379/0"
    command: ["bundle", "exec", "sidekiq", "-v", "-c", "1", "-r", "./server_code/por_worker.rb"]
    links:
      - redis:redis

volumes:
  gem_cache: